@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 80px;
    gap: 25px;
    justify-content: flex-start;
    width: 100%;

}
.navbar img{
    width:60px;
    border-radius: 50%;
}
.hlogo img{
    width:50px;
}
.hlogo{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.navitem {
    display: flex;
    list-style: none;
    gap: 10px;
}

.navitem li {
    font-size: 20px;
    padding: 10px 14px;
}

.navitem li:hover {
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
}

.gecalogo {
    margin-right: 20px;
}


.club {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 90px 6vw;
}

.logo {
    display: flex;
    font-size: 2.4rem;
    font-weight: bolder;
    align-items: center;
}

.logo .tag {
    letter-spacing: normal;
    font-size: 3rem;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 120px;
}

.aboutus {
    text-align: center;
}

.aboutus h1 {
    padding: 10px;
    font-size: 2.5rem;
}

.code2 {
    width: 100%;
}

.box {
    border: 2px solid rgb(194, 194, 194);
    word-wrap: break-word;
    margin: 10px;
    padding: 16px;
    width: 50%;
    border-radius: 1.5rem;
    height: fit-content;
    background-color: whitesmoke;
}

.box p {
    padding: 20px;
    /* border: 2px solid black; */
    margin: 10px;
    margin-top: 16px;
    border-radius: 1.5rem;
    background-color: rgb(223, 223, 223);
}

.box img {
    border-radius: 10px;
}

.box h3 {
    padding: 10px 20px;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 10vw;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border: 2px solid rgb(213, 0, 0);
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(213, 0, 0);
    border: 2px solid red ;
}

.tech-container{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    gap: 29px;
}

.tech{
    display: flex;
    justify-content: center;
}
.tech-item img{
    width: 6rem;
}
.techhead{
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 0px 40px 0;
}

.obj-main{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.obj-main h2{
    font-size: 2.5rem;
    text-align: center;
    /* margin: */
}
.objectives {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin:50px 0;
    flex-wrap: wrap;
    justify-content: center;
}

  .objectives .white {
    background-color: whitesmoke;
    color:black;
  }
  
  .objectives .objective {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 30vh;
    width: 20vw;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 400ms;
    font-size: 1.4rem;
    font-weight: 500;
    font-family:  cursive;
    border:2px solid rgb(166, 166, 166);
    /* background-image:url("pic/community.jpg"); */
    /* background-size: cover; */
}
  
  .objectives .objective p.tip {
    margin:0 20px;
  }
  
  
  .objectives .objective:hover {
    transform: scale(1.2, 1.2);
  }
  
  .objectives:hover > .objective:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

.team{
    margin: 4vw 10vw;
    display: flex;
    gap: 20px;
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-wrap: wrap;
}

.box3{
    background-color: #dfe7f0;
    color: black;
    border: 3px solid #88929f;
    /* width: fit-content; */
    width: calc(20rem - 4vw);
    padding: 20px 12px;
    margin: 20px;
    border-radius: 18px;
}

.box3 img{
    border-radius: 18px;
    width: 235px;
}




.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    /* border: 2px solid black; */
}

/* .social-icons{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 9px;
    padding: 10px;
} */
/* 
.social-icons img{
    width: 48px;
} */
.teamhead{
    font-size: 2.5rem;
    text-align: center;
    margin: 70px 0 0 0;
}

.profile h2{
    text-align: center;
    padding: 5px 0 5px 0;
}
.profile h3{
    color: #5C6672;
    text-align: center;
    padding: 12px 0 0 0;
}

.card2 {
    display: flex;
    height: 70px;
    width: 270px;
}

.card2 svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card2 .social-link1,.card2 .social-link2,.card2 .social-link3,.card2 .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.card2 svg {
    transform: scale(1);
}

.card2 .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}

.card2 .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}
  
.card2 .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.card2 .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }
    
    60% {
        transform: scale(0.8);
    }
    
    80% {
        transform: scale(1.2);
    }
    
    100% {
        transform: scale(1);
    }
}


.social-icons {
    display: flex;
    padding: 9px;
    justify-content: space-evenly;
    height: 50px;
}

.social-icons svg {
    position: absolute;
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.social-icons .social-link1,.social-icons .social-link2,.social-icons .social-link3,.social-icons .social-link4,.social-icons .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.social-icons svg {
    transform: scale(1);
}

.social-icons .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}
/*   
.social-icons .social-link1 svg:hover{
    color: white;
    } */
    
    .social-icons .social-link2:hover {
        background-color: #242c34;
        animation: bounce_613 0.4s linear;
    }
    
    .social-icons .social-link3:hover {
        background-color: #5865f2;
        animation: bounce_613 0.4s linear;
    }
    
    .social-icons .social-link4:hover {
        background-color: #0a66c2;
        animation: bounce_613 0.4s linear;
    }
    
    .social-icons .social-link5:hover {
        background-color: #ff8000;
        animation: bounce_613 0.4s linear;
    }
    
    @keyframes bounce_613 {
        40% {
            transform: scale(1.4);
        }
        
        60% {
            transform: scale(0.8);
        }
        
    80% {
        transform: scale(1.2);
    }
    
    100% {
        transform: scale(1);
    }
}

.footer1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer3{
    text-align: center;
    padding: 25px;
    font-size: 1.2rem;
}
.footer2{
    margin: 5% 15%;
    border-radius: 20px;
    padding: 30px;
    background-color: antiquewhite;
}

/* .contact{
    display: flex;
} */

.contact-container{
    display: flex;
    justify-content: center;
}
.contact h1{
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
}
.topic{
    font-size: 2rem;
    margin-left: 50px;
}
.text-one{
    padding: 5px;
    font-size: 1.5rem;
    margin-left: 50px;
}
.text-two{
    margin-left: 55px;
}
.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 30px;
}
.upcomming-events{
    text-align: center;
    font-size:2.5rem;
}
.events p{
    padding:20px 20px;
    text-align: justify;
    line-height: 20px;
}
.event-img{
    margin-bottom: 1rem;
}
.event-img img{
    width:16rem;
}
.events h2{
    margin: 0 10px;
    font-size: 22px;
    border-radius: 8px;
    padding: 12px 21px;
    background-color: rgb(181, 181, 234);
}
.upcomming{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4vw 10vw;
}
